/*===============================================*/
/*   
     Name: hrgiulia.com
     Date: 13/10/2011
     style by: http://www.bcadsgn.com
     version: 1.0
     type: webform_theme.css
*/   
/*===============================================*/

input{
  padding: 8px;
  background: #c69c6d;
}